<html>
<head>

  <title><%= @title %></title>
</head>
<body>
  <table>
    <tr>
      <td>Row one cell one</td>
      <td>Row one cell two</td>
    </tr>
    <tr>
      <td>Row two cell one</td>
      <td>Row two cell two</td>
    </tr>
  </table>
</body>
</html>
