<div class="container">
  <h1><%= MUSIC_ROOT %></h1>

  <ul>
    <% @artists.each do |artist| %>
      <li><a href="/artists/<%= artist.name %>"><%= artist.name %></a></li>
    <% end %>
  </ul>
  </ul>
</div>
