<div class="two-col">
  <div class="col">
    <div id="holidays">
      <h2>Holidays</h2>

      <form name="holiday" action="/holidays" method="post" accept-charset="utf-8">
        <input type="text" name="holiday[name]" placeholder="First Last" required>
        <input type="number" name="holiday[month]" placeholder="Month" required>
        <input type="number" name="holiday[day]" placeholder="Day" required>

        <input type="submit" value="Add Holiday">
      </form>

      <div class="holiday-list"></div>
    </div>

    <div id="people">
      <h2>People</h2>

      <form name="person" action="/people" method="post" accept-charset="utf-8">
        <input type="text" name="person[name]" placeholder="First Last" required>
        <input type="date" name="person[birthday]" required>

        <input type="submit" value="Add Person">
      </form>

      <div class="person-list"></div>
    </div>
  </div>

  <div class="col">
    <div id="gifts">
      <h2>Gifts</h2>

      <form name="gift" action="/gifts" method="post" accept-charset="utf-8">
        <input type="text" name="gift[name]" placeholder="Gift name" required>

        <input type="submit" value="Add Gift">
      </form>

      <div class="gift-list"></div>
    </div>
  </div>
</div>
