<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/global.css">

  <title>Gifted</title>
</head>
<body>
  <div class="container">
    <header><h1>Gifted</h1></header>

    <%= yield %>
  </div>

  <script src="/js/router.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/resource.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/resourceView.js" type="text/javascript" charset="utf-8"></script>

  <script src="/js/people.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/gifts.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/holidays.js" type="text/javascript" charset="utf-8"></script>

  <script src="/js/app.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
